# editor
.idea/
.vscode/

# misc
.DS_Store
.gitkeep

# env vars
.env
.env*.local
.env.*

# dependencies
node_modules
logs

# build
www
www-cache

# cache
__pycache__
.cache
.eslintcache

# helpers
.docs

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# locks
yarn.lock
package-lock.json

# local python env
.venv
