<header class="header">
  <nav class="navbar"  style="background-color: #131313 !important;">
    <div class="navbar-brand">
      <div style="display: flex; flex-direction:row; padding: 12px 32px; gap: 16px;">
        <img src="https://www.redhat.com/rhdc/managed-files/Red-Hat-Summit-logo.svg" alt="Red Hat Summit logo" width="90px" class="hero-summit-logo dx-block dx-mb-1">
        <img src="https://gpte-public.s3.amazonaws.com/rh-ansiblefest-2021-logo-pool-reverse-rgb_0.svg" alt="AnsibleFest logo" width="120px" class="hero-ansiblefest-logo dx-block dx-mb-2">
      </div>
      <div class="navbar-item site-title" style="color: #fff !important;flex: 1;">{{site.title}}</div>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">You are {{{page.attributes.user}}}</div>
        <div class="navbar-item navbar-item-right-dropdown has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Links</a>
          <div class="navbar-dropdown navbar-dropdown-right">
            <a class="navbar-item navbar-item-right-content" href="{{{page.attributes.rhoai_dashboard_url}}}" target="_blank">OpenShift AI Dashboard</a>
            <a class="navbar-item navbar-item-right-content" href="{{{page.attributes.openshift_console_url}}}" target="_blank">OpenShift Console</a>
          </div>
      </div>
    </div>
  </nav>
</header>
