<div class="toolbar" role="navigation">
{{> nav-toggle}}
  {{#with site.homeUrl}}
  <a href="{{{relativize this}}}" class="home-link{{#if @root.page.home}} is-current{{/if}}"></a>
  {{/with}}
{{> breadcrumbs}}
{{> page-versions}}
{{#if page.editUrl}}
<div class="edit-this-page"><a href="{{page.editUrl}}" target="_blank">Edit this Page</a></div>
{{/if}}
</div>
