-i https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu118/
aiohttp==3.8.6; python_version >= '3.6'
aiosignal==1.3.1; python_version >= '3.7'
annotated-types==0.6.0; python_version >= '3.8'
anyio==3.7.1; python_version >= '3.7'
async-timeout==4.0.3; python_version >= '3.7'
attrs==23.1.0; python_version >= '3.7'
boto3==1.28.85; python_version >= '3.7'
botocore==1.31.85; python_version >= '3.7'
certifi==2023.7.22; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
dataclasses-json==0.6.2; python_version >= '3.7' and python_version < '4.0'
fastapi==0.104.1; python_version >= '3.8'
filelock==3.13.1; python_version >= '3.8'
frozenlist==1.4.0; python_version >= '3.8'
fsspec==2023.10.0; python_version >= '3.8'
greenlet==3.0.1; platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
h11==0.14.0; python_version >= '3.7'
huggingface-hub==0.17.3; python_full_version >= '3.8.0'
idna==3.4; python_version >= '3.5'
jinja2==3.1.2; python_version >= '3.7'
jmespath==1.0.1; python_version >= '3.7'
joblib==1.3.2; python_version >= '3.7'
jsonpatch==1.33; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonpointer==2.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
langchain==0.0.324; python_version < '4.0' and python_full_version >= '3.8.1'
langsmith==0.0.63; python_version < '4.0' and python_full_version >= '3.8.1'
markupsafe==2.1.3; python_version >= '3.7'
marshmallow==3.20.1; python_version >= '3.8'
mpmath==1.3.0
multidict==6.0.4; python_version >= '3.7'
mypy-extensions==1.0.0; python_version >= '3.5'
networkx==3.2.1; python_version >= '3.9'
nltk==3.8.1; python_version >= '3.7'
numpy==1.26.2; python_version >= '3.9'
packaging==23.2; python_version >= '3.7'
pillow==10.1.0; python_version >= '3.8'
psycopg2-binary==2.9.9; python_version >= '3.7'
pydantic==2.5.0; python_version >= '3.7'
pydantic-core==2.14.1; python_version >= '3.7'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dotenv==1.0.0; python_version >= '3.8'
python-multipart==0.0.6; python_version >= '3.7'
pyyaml==6.0.1; python_version >= '3.6'
redis==5.0.1; python_version >= '3.7'
regex==2023.10.3; python_version >= '3.7'
requests==2.31.0; python_version >= '3.7'
s3transfer==0.7.0; python_version >= '3.7'
safetensors==0.4.0; python_version >= '3.7'
scikit-learn==1.3.2; python_version >= '3.8'
scipy==1.11.3; python_version < '3.13' and python_version >= '3.9'
sentence-transformers==2.2.2; python_full_version >= '3.6.0'
sentencepiece==0.1.99
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sniffio==1.3.0; python_version >= '3.7'
sqlalchemy==2.0.23; python_version >= '3.7'
starlette==0.27.0; python_version >= '3.7'
sympy==1.12; python_version >= '3.8'
tenacity==8.2.3; python_version >= '3.7'
text-generation==0.6.1; python_version >= '3.7' and python_version < '4.0'
threadpoolctl==3.2.0; python_version >= '3.8'
tokenizers==0.14.1; python_version >= '3.7'
torch==2.1.0+cu118
torchvision==0.16.0+cu118
tqdm==4.66.1; python_version >= '3.7'
transformers==4.35.0; python_full_version >= '3.8.0'
triton==2.1.0
typing-extensions==4.8.0; python_version >= '3.8'
typing-inspect==0.9.0
urllib3==2.0.7; python_version >= '3.10'
uvicorn==0.23.2; python_version >= '3.8'
yarl==1.9.2; python_version >= '3.7'
